@using Smidge.Models;
@using Smidge.FileProcessors;
@inject Microsoft.Extensions.PlatformAbstractions.IApplicationEnvironment AppEnv; 
@inject Smidge.SmidgeHelper SmidgeHelper
@inject Smidge.FileProcessors.PreProcessPipelineFactory PipelineFactory
@inject Smidge.BundleManager BundleManager
@addTagHelper "*, Smidge"

<html>
<head>

    @{
        SmidgeHelper
            .CreateJsBundle("inline-js-bundle")
            .RequiresJs("~/Js/test1.js", "Js/test2.js")
            .RequiresJs("Js/Folder*js")
            .RequiresJs(new JavaScriptFile("~/Js/test2.js")
            {
                Pipeline = PipelineFactory.GetPipeline(typeof(JsMin))
            });
        SmidgeHelper
            .CreateCssBundle("inline-css-bundle")
            .RequiresCss("Css/test1.css", "Css/test2.css", "Css/test3.css", "Css/test4.css");
    }

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="inline-js-bundle" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" />
    <link rel="stylesheet" href="inline-css-bundle"/>
    <link rel="stylesheet" href="test-bundle-4" />    
</head>
<body>
    
    <h1>Smidge demo site</h1>

    <h3>Runtime: @AppEnv.RuntimeFramework.FullName</h3>

    <h5>Generated non-named-bundled JS Urls</h5>
    <ul>
        @foreach (var item in await SmidgeHelper.GenerateJsUrlsAsync())
            {
            <li>@item</li>
        }
    </ul>

    <h5>Generated non-named-bundled CSS Urls</h5>
    <ul>
        @foreach (var item in await SmidgeHelper.GenerateCssUrlsAsync())
            {
            <li>@item</li>
        }
    </ul>

    <h5>Generated named-bundled JS Urls</h5>
    <ul>
        @foreach (var bundleName in BundleManager.GetBundleNames(WebFileType.Js))
        {
            foreach (var item in await SmidgeHelper.GenerateJsUrlsAsync(bundleName))
            {
                <li>@item</li>
            }
        }
    </ul>

    <h5>Generated named-bundled CSS Urls</h5>
    <ul>
        @foreach (var bundleName in BundleManager.GetBundleNames(WebFileType.Css))
        {
            foreach (var item in await SmidgeHelper.GenerateCssUrlsAsync(bundleName))
            {
                <li>@item</li>
            }
        }
    </ul>
    
    <div id="jsOutput">
        <span>JS loading debug output:</span>
    </div>

    @await SmidgeHelper.JsHereAsync()
    @await SmidgeHelper.JsHereAsync("test-bundle-1")
    @await SmidgeHelper.JsHereAsync("test-bundle-2")

    

</body>
</html>